.carousel-inner {
  height:auto;
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}


/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  /* display: none; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.picture{
  max-width: 300px;
}

#header{
  text-align: center;
}

#description{
  font-style: italic;
  text-align: center;
  font-family: arial;
  line-height: 30px;
}
.button{

}
#learn{
  text-align: center;
}
.dsc{
  max-width: 75%;
  margin-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row img{
  width: 100%;
}

.col-sm-4{
  margin: 0;
  padding: 0;
}

.recipes{
  padding: 5px;
  margin: 5px;
  border: 2px solid grey;
  border-radius: 5px;
}

.heading{
  margin-top: 5px;
}

.container-fluid h3{
  text-align:center;
  color: White;
  background-color: Black;
  opacity: 0.5;
}
