.carousel-inner {
  height: auto;
  max-width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.picture{
  max-width: 300px;
}

#header{
  text-align: center;
<<<<<<< HEAD
  /* width:640px; */
  /* height:360px; */
=======
  width:640px;
  height:360px;
<<<<<<< HEAD

=======
>>>>>>> 44bbef22c1785b7e53c773f30f2169634cd06d09
>>>>>>> 22f67f9c0ce506a07ba05b952a90b962f0d0fba6
}

.row img{
  width: 100%;
}

.col-sm-4{
  margin: 0;
  padding: 0;
}
